# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SpaceShooterSample.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Filipe\Documents\GitHub\SpaceShooterSample\.idea\.idea.SpaceShooterSample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
